# Control Flow


# if
## if else
## if elif else
## Nested if
## Single Statement Suites

In [3]:
# if statement

val=30
if val<40:
   print('value is less than given')

value is less than given

In [4]:
# if else statement

In [8]:
Total_Price=int(input("Price: "))
if Total_Price<100:
    discount=Total_Price*0.04
    print("Discount Rupess: "+str(discount))
else:
    discount=Total_Price*0.1
    print("Discount Rupess: "+str(discount))
print("Net Payable amount: ",Total_Price-discount)

Price:  500

Discount Rupess: 50.0
Net Payable amount:  450.0

In [9]:
# if-elif-else statement

In [1]:
Total_Price=int(input("Price: "))
if Total_Price<100:
    discount=Total_Price*0.04
    print("Discount Rupess: "+str(discount))
elif Total_Price<500:
    discount=Total_Price*0.08
    print("Discount Rupess: "+str(discount))
else:
    discount=Total_Price*0.1
    print("Discount Rupess: "+str(discount))
print("Net Payable Amount: ",Total_Price-discount)

Price:  500

Discount Rupess: 50.0
Net Payable Amount:  450.0

In [2]:
a=50
print('The value of a: ',a)

The value of a:  50

# Nested if statement

In [3]:
val = float(input("Enter a number"))
if val>=0:
    if val==0:
        print("zero")
    else:
        print("Entered number is positive")
else:
    print("Entered number is negative")

Enter a number -20

Entered number is negative

## Single statement suites

In [5]:
val=int(input("Enter a number: "))
if (val<=999):print("value is less than equal to 999")
print("Good Bye!")

Enter a number:  900

value is less than equal to 999
Good Bye!

## loops
### while
 ### for
 ### nested
 ### loop control
  ### break
  ### continue
  ### pass

## While loop

In [8]:
''' A child is learning to count number of 10 rupess in his hand 
and here we have given 5 notes of 10 rupess. 
Output will display the counting of notes and total amount'''
notes =5
i=1 #starting number
while i<=notes:
    print(i)
    i+=1
print("Total Money: ",notes*10,'Rupees')

1
2
3
4
5
Total Money:  50 Rupees

In [9]:
# else combination with while

In [10]:
notes=5
i=1
while i<=notes:
    print(i)
    i+=1
else:
    print("No 10 rupees note left")
print("Total Money: ",notes*10,'Rupees')

1
2
3
4
5
No 10 rupees note left
Total Money:  50 Rupees

In [11]:
# LIST

In [13]:
frits_list=['Mango','Cherry','Apple','Papya','Banana']
for x in frits_list:
    print (x)

Mango
Cherry
Apple
Papya
Banana

In [14]:
frits_list=['Mango','Cherry','Apple','Papya','Banana']
for x in frits_list:
    print (x)
else:
    print("List has no fruit left!")

Mango
Cherry
Apple
Papya
Banana
List has no fruit left!

In [15]:
# string example

In [16]:
f_name="Mango"
for x in f_name:
    print(x)

M
a
n
g
o

# nested loop

In [17]:
#e.g to print a pattern

In [20]:
n=7 #n is width and length of triangle
for i in range(0,n): #loop to hanlde the rows
    for j in range(0,i+1):#loop to handle columns
        print("*",end="")# printing the stars
    print("\r") #after each row will be end

*
**
***
****
*****
******
*******

In [21]:
# pyramid structure

In [31]:
num_rows= int(input("Enter the no of rows: "))
row = 0
while(row<num_rows):
    row += 1
    s = num_rows-row
    
    sc=0
    while(sc<s):
        print(" ", end='')
        sc+=1
        
    stars=2*row-1
    while(stars>0):
        print("*",end='')
        stars-=1
    print()

Enter the no of rows:  5

    *
   ***
  *****
 *******
*********

In [24]:
num_rows = int(input("Enter the number of rows: "))
row = 0 #row intialize
while(row < num_rows):
    row += 1 #Rows count increase
    s = num_rows - row #Spaces

    sc = 0 #Space counter intialize
    while(sc < s):
        print(" ", end='')
        sc += 1

    stars = 2*row-1 #Number of stars
    while(stars > 0):
        print("*", end='')
        stars -= 1

    print()

Enter the number of rows:  5

    *
   ***
  *****
 *******
*********

In [32]:
# Loop control

In [33]:
x=1
while x <7:
    print(x)
    if x==4:
        break
    x+=1

1
2
3
4

In [34]:
frits_list= ["Mango","Cherry","Apple","Papaya","Banana"]
for x in frits_list:
    if x=="Papaya":
        break
    print(x)

Mango
Cherry
Apple

In [35]:
x=0
while x<7:
    x+=1
    if x==4:
        continue
    print(x)

1
2
3
5
6
7

In [36]:
frits_list= ["Mango","Cherry","Apple","Papaya","Banana"]
for x in frits_list:
    if x=="Papaya":
        continue
    print(x)

Mango
Cherry
Apple
Banana

In [1]:
val=84
if val:
    print("Value")
    print(val)

Value
84